.helpyou {
  margin: fluid(40, 5);
  padding: fluid(40, 0);
  color: var(--color-gray);
  border-radius: var(--border-radius-l);
  box-shadow: 0 0 32px -5px rgba(0, 0, 0, 0.5);
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;

  &__inner {
    @include tablet {
      margin-bottom: 10px;
      padding: 0;
    }
  }

  &__title {
    padding: 15px 0;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: 55% auto;
    place-items: center stretch;

    @include tablet {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }

  &__items {
    padding: 0 25px;
  }

  &__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--color-black);

    /*  */

    &::before {
      content: '✔';
      margin: 10px;
    }
  }

  &__contactform {
    padding: 0 16px;

    @include tablet {
      margin-top: 20px;
    }
  }
}
