.steps {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: fluid(64, 10);
  padding-block: fluid(50, 10);

  @include mobile {
    grid-template-columns: 1fr;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: fluid(16, 0);
  }

  &__title {
    margin-bottom: fluid(20, 5);
    color: var(--color-primary);
  }

  &__description {
    @include fluid-text(18, 16);
  }

  &__picture {
    @include flex-center;

    flex-direction: column;
  }

  &__image {
    aspect-ratio: 1;
    width: 180px;
    object-fit: contain;
  }
}
