.info {
  margin-bottom: 100px;
  padding-top: 100px;

  &__inner {
  }

  &__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
  }

  &__content {
    color: var(--color-black-h2);
  }
}
