.service-card {
  flex-direction: column;
  padding: 32px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-l);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  @include flex-center;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black-h2);
  }

  &__description {
    line-height: 1.6;
    color: var(--color-gray-black);
  }
}
