.services {
  margin-top: 140px;
  padding: 80px 0;
  background-color: var(--color-gray-light);
  text-align: center;
  margin-bottom: 64px;

  &__title {}

  &__subtitle {
    font-size: 18px;
    color: var(--color-gray-black);
    max-width: 600px;
    margin: 0 auto 16px;

  }

  &__cards {
  margin: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
    }
  }
}