.howwork {
  margin-top: fluid(100, 40);
  margin-bottom: fluid(64, 32);
  padding: fluid(20, 10);
  background-color: var(--color-gray-light);
  text-align: center;

  &__title {}

  &__subtitle {
    font-size: 18px;
    color: var(--color-gray-black);
    margin: 0 auto 16px;

  }

  &__cards {
    margin: fluid(60, 20);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    counter-reset: item;

    @include tablet2 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
}