.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image:
    linear-gradient(135deg, rgb(2 2 2 / 65%) 0%, rgb(53 11 18 / 61%) 100%),
    url('/src/assets/images/hero-bg.webp');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-white);

  &__inner {
    position: relative;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    margin: 0 auto;
    padding: 0 20px; */
    max-width: 1200px;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-size: fluid(60, 40);
    font-weight: 700;
    line-height: 1.2;
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    opacity: 0.9;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__services {
    display: flex;
    justify-content: center;
    align-items: center;

    &-badges {
      display: grid;
      /* grid-template-columns: repeat(2, 1fr); */
      gap: 2rem;
    }

    &-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      font-size: 2rem;
      font-weight: 700;
      background: rgba(var(--color-white-rgb), 0.1);
      border: 2px solid rgba(var(--color-white-rgb), 0.3);
      /* border-radius: 50%; */
      transition: all 0.3s ease;
      backdrop-filter: blur(10px);
    }

    &-badge:hover {
      background: rgba(var(--color-white-rgb), 0.2);
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}