.about-ce-mark {
  line-height: 1.75;

  /* 28/16 */
  // .about-ce-mark__title

  &__title {
  }

  // .about-ce-mark__descroption

  &__descroption {
    margin-bottom: fluid(50, 10);
  }

  // .about-ce-mark__blocks

  &__blocks {
    display: flex;
    gap: fluid(32, 10);
    margin-bottom: fluid(50, 10);

    @include mobile {
      flex-direction: column;
      gap: 5px;
    }
  }

  // .about-ce-mark__content

  &__content {
    margin-bottom: fluid(24, 10);
  }

  // .about-ce-mark__list

  &__list {
    margin: fluid(24, 10);
  }

  // .about-ce-mark__item

  &__item {
    list-style-type: disc;
  }

  // .about-ce-mark__note-title

  &__note-title {
  }

  // .about-ce-mark__note-text

  &__note-text {
  }
}
