.socials {
  margin-top: fluid(50, 10);

  &__item {
  }

  &__svg {
    width: 100%;
    height: 50px; /* бажана висота */
    color: #25d366;
    object-fit: cover; /* обрізає зображення, зберігаючи пропорції */
    object-position: center; /* центрує зображення */
  }
}
