.expert {
  &__header {
    margin-bottom: 30px;
  }

  &__body {
    display: grid;
    gap: 40px;

    &--grid {
      grid-template-columns: repeat(3, 1fr);

      @include tablet2 {
        grid-template-columns: 1fr 1fr;
      }
      @include mobile {
        grid-template-columns: 1fr;
      }

    }



  }
}