.about-iso {
  line-height: 1.75; /* 28/16 */
  // .about-ce-mark__title

  &__title {
  }

  // .about-ce-mark__descroption

  &__descroption {
    margin-bottom: 50px;
  }

  // .about-ce-mark__blocks

  &__blocks {
    display: flex;
    gap: 32px;
    margin-bottom: 50px;
  }

  // .about-ce-mark__content

  &__content {
    margin-bottom: 24px;
  }

  // .about-ce-mark__list

  &__list {
    margin: 24px;
  }

  // .about-ce-mark__item

  &__item {
    list-style-type: disc;
  }

  // .about-ce-mark__note-title

  &__note-title {
  }

  // .about-ce-mark__note-text

  &__note-text {
  }
}
