.contacts {
  padding-top: fluid(50, 10);

  // .contacts_title

  &_title {}

  // .contacts__inner

  &__inner {
    display: grid;
    grid-template-columns: 50% auto;
    margin: fluid(50, 5);
    gap: 15px;

    @include tablet2 {
      margin: 0;
    }

    @include mobile {
      margin: 0;
      grid-template-columns: 1fr;
    }

  }

  // .contacts__content

  &__content {}

  // .contacts__description

  &__description {
    margin-bottom: fluid(50, 10);
    font-size: fluid(20, 15);

    @include mobile {
      text-align: center;
    }
  }

  // .contacts__text

  &__text {}

  // .contacts__item

  &__item {
    font-size: fluid(20, 15);
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: fluid(30, 15);

    @include mobile {
      justify-content: center;
    }


  }

  // .contacts__icon

  &__icon {}

  // .contacts__svg

  &__svg {
    @include flex-center();
    color: var(--color-primary);

  }

  // .contacts__link

  &__link {}

  // .contacts__form

  &__form {}
}