.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-block: 10px;
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);  

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 16px;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__overlay-menu-dialog {
    position: fixed;
    top: 0;
    flex-direction: column-reverse;
    justify-content: start;
    row-gap: 16px;
    width: 100%;
    height: 100vh;
    padding: var(--container-padding-x);
    background-color: var(--color-gray);
    border: none;
    opacity: .9;

    @include mobile-above {
      display: contents;
    }

    @include mobile {


      &[open] {
        display: flex;
      }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
      display: flex;
      justify-content: center;
      height: 100%;
      border-radius: 0;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 6px;

      @include mobile {
        flex-direction: column;
        row-gap: 16px;
        margin-block: auto;
      }
    }

    &-link {
      padding-block: 14px;
      padding-inline: fluid(20, 1);
      color: var(--color-black-menu);

      &:not(.is-active):hover {
        color: var(--color-primary);
      }

      &.is-active {
        text-decoration: underline;
        text-underline-offset: 10px;
      }

      @include mobile {
        color: var(--color-white);
        font-size: 20px;
      }
    }
  }

  &__menu-link--dropdown:hover .dropdown__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include mobile-above {
      justify-content: end;
    }
  }

  &__burger-button {
    position: relative;
  }
}