.footer {
  
  padding: 60px 30px 20px;
  background-color: var(--color-gray);
  color: var(--color-white);

  &__items {
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-columns: 1fr auto auto 1fr;
    gap: 60px;
    margin-bottom: 32px;
  }

  &__item {
    line-height: 1.7;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-text {
    font-weight: 200;
  }

  &__bottom {
    border-top: 1px solid #c4c3c3;
    padding-top: 32px;
    text-align: center;
    font-weight: 200;
    color: #c4c3c3;
  }
}
