.footer {
  padding: 60px 30px 20px;
  color: var(--color-white);
  background-color: var(--color-gray);

  @include mobile-s {
    padding: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin-bottom: 32px;

    @include tablet {
      gap: 30px;
    }

    @include tablet2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include mobile-s {
      margin-bottom: 0;
    }
  }

  &__item {
    flex: 1;
    line-height: 1.7;

    @include tablet {
      flex: 0 1 auto;
      gap: 30px;
    }
  }

  &-title {
    margin-bottom: 16px;
  }

  &-text {
    font-weight: 200;
  }

  &__bottom {
    padding-top: 32px;
    font-weight: 200;
    text-align: center;
    color: #c4c3c3;
    border-top: 1px solid #c4c3c3;

    @include mobile-s {
      margin-top: 5px;
      padding-top: 5px;
    }
  }
}
