.specialities {
  @include mobile {
    gap: 0;
  }

  &__text {
    margin-bottom: fluid(32, 10);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(32, 10);
    margin-block: 0;
    margin-inline: fluid(60, 5);

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: fluid(20, 5);
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }
}
